<footer class="w-full bg-white p-8">
  <div class="flex flex-row flex-wrap items-center justify-center gap-y-2 gap-x-12 bg-white text-center md:justify-between">
    <img src="/images/scLogo.png" alt="" class="w-auto h-24"/>
 
    <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
      <li>
        <a
          href="#"
          class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm"
        >
          About Us
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm"
        >
          Contact Us
        </a>
      </li>
    </ul>
  </div>
  <p class="block mb-2 text-sm text-center text-slate-500 md:mb-0 border-t border-slate-200 mt-4 pt-4 flex flex-col">
    Copyright © 2026&nbsp;
  </p>
  </footer>