<nav class="w-full flex items-center px-4 py-1 bg-white shadow">
  <!-- Left: Menu icon -->
  <div class="flex items-center">
    <img src="https://gr7ahin3tm.ufs.sh/f/gr7iLvdI7Oq1YiIaGK0bd45PIh8kNCAJFwQSMmtjV3qr2s0W" alt="logo" class="w-auto h-16"/>
  </div>

    <a href="/">
      <h1 class="text-md font-semibold text-gray-800 tracking-wide">Scarce Medix</h1>
    </a>
</nav>