<nav class="w-full flex items-center px-4 py-2 bg-white shadow">
  <!-- Left: Menu icon -->
  <div class="flex items-center">
    <img src="/images/zoieLogo.png" alt="logo" class="w-auto h-16">
  </div>

    <a href="/">
      <h1 class="text-xl font-bold text-gray-800 tracking-wide">Zoie Foundation</h1>
    </a>
</nav>
