<div x-data="{
  accountNumber: '<%= account.number %>',
  copied: false,
  
  handleCopy(){
    navigator.clipboard.writeText(this.accountNumber);
    this.copied = true
    setTimeout(()=>{
      this.copied = false
    }, 2000)
  }
}">
  <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">One Meal. One Family. One Hope.</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">This year, Feed The Streets 6.0 is bringing warmth, food, and hope to hundreds of struggling families. Your little act of kindness can feed a child, lift a heart, and keep a dream alive. Let’s spread hope — <span class="text-orange-500 font-semibold">together</span>.</p>
  
  <p class="my-4">Please send your donations to the account number below. Thank you</p>
  <div class="card">
    <header>
      <div class="flex justify-end relative">
        <div></div>
        <span 
        x-show="copied"
        class="badge z-10 absolute cursor-pointer bg-amber-600"
        x-transition
        >
          Copied !!
        </span>
      </div>
      <div class="relative flex justify-center">
        <input type="text" class="input text-center text-3xl font-black border-amber-600 py-8 pr-4" :value="accountNumber" readonly>
        <img @click="handleCopy" src="/images/copy.svg" alt="copy" class="z-10 absolute top-2 right-2">
      </div>
    </header>
    <section>
      <p class="text-center font-semibold text-lg"><%= account.name %></p>
      <img src="/images/moniepoint.png" alt="Moniepoint" class="mx-auto w-auto h-8">
    </section>
    <footer>
        <button class="btn block w-full bg-amber-500 cursor-pointer" @click="handleCopy">Copy account number</button>
    </footer>
  </div>
  
</div>


<div>
  <img src="/images/fts1.jpg" alt="flyer" class="my-8 object-cover object-center">
</div>

